
/* Banner.css */
.pos-cocinas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.carousele1 {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  background-color: #f0f0f0; */
  }
  
  .image-containere1 {
    position: relative;
    width: 100%;
    height: 100%;
  
  }
  
  .carousele-image1 {
    width: 100%;
    height: 100%;
    object-fit: center;
    
  
  }
  
  .text-centere1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  .image-titleep1 {
    color: rgb(0, 0, 0); 
    font-size: 55px;

    font-weight: bold;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
  
  
  .image-titleep {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
    font-size: 40px;
    color: #f1683a; 
  }
  
  .button-containeret {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .prevew, .nextew {
   background-color: transparent !important; 
    color: rgb(2, 2, 2);
    border: none;
    padding: 20px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
  }
  
  .prevew {
    left: 10px; 
  }
  
  .nextew {
    right: 10px; 
  }
  
  .prevew:hover, .nexew:hover {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  