

/* Banner.css */
.carousele {
    width: 100%;
    height: 85vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .image-containere {
    /* position: relative; */
    width: 100%;
    height: 100%;
  /*   overflow: hidden; */
  }
  
  .carousele-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-centere {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  .image-titlee {
    color: rgb(236, 231, 231)!important; 
    font-size: 55px;

    font-weight: bold;
    font-family: "Madurai W01 Ext Black";
  font-weight: 400;
  font-style: italic;
}
  
  
  .image-titlee2 {
    font-family: "Breul Grotesk B Light"; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
    font-size: 40px;
    color:#d8d7d7!important;
  }
  
  .button-containere {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .preve, .nexte {
   background-color: transparent !important; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
  }
  
  .preve {
    left: 10px; 
  }
  
  .nexte {
    right: 10px; 
  }
  
  .preve:hover, .nexet:hover {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  

  @media screen and (min-width:321px) and (max-width:1000px){

.carousele {
  width: 100%;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.image-containere {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousele-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-centere {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.image-titlee {
  color: rgb(236, 231, 231); 
  font-size: 55px;

  font-weight: bold;
  font-family: "Madurai W01 Ext Black";
font-weight: 400;
font-style: italic;
}


.image-titlee2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
  font-size: 35px;
  color: #f1683a; 
}

.button-containere {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

.preve, .nexte {
 background-color: transparent !important; 
  color: rgb(255, 255, 255);
  border: none;
  padding: 20px; 
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 30px;
}

.preve {
  left: 10px; 
}

.nexte {
  right: 10px; 
}

.preve:hover, .nexet:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}
  }
  
@media screen and (max-width:700px) {
  .carousele {
    width: 100%;
    height: 56vh!important;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .image-titlee {
    color: rgb(236, 231, 231); 
    font-size: 35px;
  
    font-weight: bold;
    font-family: "Madurai W01 Ext Black";
  font-weight: 400;
  font-style: italic;
  }
  .image-titlee2 {
    font-family: "Breul Grotesk B Light"; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
    font-size: 30px;
    color:#d8d7d7!important;
  }
  
}

