
header {
  width: 100%;
/*   max-width: 80%; */
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  /* z-index: 100; */
  background-color: transparent;;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 120px;
  margin-right: 120px;
  padding-top: 10px;
}

.links {
  display: flex;
  align-items: center;
}

.linkUnidad {
  margin-right: 86px; 
  text-decoration: none; 
  color: rgb(0, 0, 0); 
  transition: color 0.3s; 
  transform: scale(1.1);
  font-size: 26px;
  text-align: center;
  padding-top: 10px;
  font-family: "Pathway Gothic One", sans-serif;
   
    font-weight: 400;
    font-style: normal;
  
  
}


.linkUnidad:hover {
  color: rgb(74, 68, 68); 
}

.linkUnidad:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.linkUnidad:hover:before {
  transform: scaleX(1);
}




  
  
  @media (max-width: 1200px) {
    .header {
      
      display: flex;
      justify-content: space-between; 
    }
    .logo {
      height: 100px;
      margin-right: 60px;
    }
    
    .linkUnidad {
      margin-right: 65px; 
      text-decoration: none; 
      color: rgb(0, 0, 0); 
      transition: color 0.3s; 
      transform: scale(1.1);
      font-size: 26px;
      text-align: center;
      
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      font-style: normal;
      
      
    }
  }
  @media (max-width: 720px) {
    .header {
      
      display: flex;
      justify-content: space-between; 
    }
    .logo {
      height: 100px;
      margin-right: 40px;
    }
    .linkUnidad {
      margin-right: 40px; 
      text-decoration: none; 
      color: rgb(0, 0, 0); 
      transition: color 0.3s; 
      transform: scale(1.1);
      font-size: 25px;
      
      
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      font-style: normal;
      
      
    }
  }
    
    @media (max-width:768PX) {
    .po{
      height: 370px!important;
    }
    
    .linkUnidad {
    margin-right: 100px; 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    transition: color 0.3s; 
    transform: scale(1.1);
    font-size: 27px!important;
    text-align: center;
    padding-top: 20px;
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      font-style: normal;
    
    
    }
    .basic-navbar-nav1{
    width: 80px !important;
    height: 60px!important;
    }
    
    .logo {
    height: 140px!important;
    margin-right: 180px;
    padding-top: 10px;
    }
    
    }
  
    @media (max-width:991px) {
    .po{
      height: 400px!important;
      width: 100%;
    }
    
    .linkUnidad {
    margin-right: 30px; 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    transition: color 0.3s; 
    transform: scale(1.1);
    font-size: 27px!important;
    text-align: center;
    padding-top: 20px;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    
    }
    .basic-navbar-nav1{
    width: 80px !important;
    height: 60px!important;
    }
    
    .logo {
    height: 140px!important;
    margin-right: 180px;
    padding-top: 10px;
    }
    
    }
  
  
    @media (max-width:510px) {
    .po{
      height: 300px!important;
      width: 100%;
    
    }
    
    .linkUnidad {
    margin-right: 100px; 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    transition: color 0.3s; 
    transform: scale(1.1);
    font-size: 18px!important;
    padding-top: 20px;
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      font-style: normal;
    
      margin:0 auto;
    }
    .basic-navbar-nav1{
    width: 80px !important;
    height: 60px!important;
    }
    
    .logo {
    height: 90px!important;
    margin-right: 180px;
    padding-top: 10px;
    }
    
    }
  